<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/topics/java-releases">Java Releases</a></li>
        <li><a href="/topics/garbage-collection">GC</a></li>
        <li><a href="/topics/intellij-tricks">IntelliJ Tricks and Features</a></li>
    </ul>
</nav>
<div class="container">

    {{ content }}

</div><!-- /.container -->
<br/>
<footer>
    <ul>
        <li><a href="mailto:githubpages@s/i/g/m/a/w/o/r/k/s/.com">email [remove the slashes]</a></li>
        <li><a href="https://github.com/robjk">github.com/robjk</a></li>
    </ul>
</footer>
</body>
</html>
